.jumbotron{
	background-color: #169BF3;
	color: black;
	margin-top: 50px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: #169BF3;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}

.btn-reserva{
	
	width: 100%;
	
}